@import 'variables';

.c-query-card {
  padding: $space-m;
  margin: $space-m;

  border: 2px solid $primary-color;
  border-radius: $space-s;

  text-align: left;

  &--selected {
    border: 3px solid $primary-color;
  }

  &:hover {
    cursor: pointer;
    background: $white-color;
  }
}
