@import 'variables.scss';

.c-search-results {
  padding: $space-m;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__actions {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;

    padding: $space-m;
  }
}
