// Colors
$primary-color: #1d3557;
$primary-shade: #457b9d;
$secondary-color: #f1faee;
$white-color: #fff;
$gray-color: #ccc;
$red-color: #fd1c1c;

// Font sizes
$fs-small: 14px;
$fs-base: 16px;
$fs-medium: 18px;
$fs-large: 20px;
$fs-xlarge: 24px;

// Font weight
$fw-thin: 300;
$fw-base: 400;
$fw-semi-bold: 600;
$fw-bold: 800;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.25; // 20px
